* {
    margin: 0;
    padding: 0;
    font-family: sans-serif
}

body {
    background-color: #000;

}

.backround {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}


.nevber {
    width: 97%;
    margin: auto;
    padding: -10px;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    background-color: #000;
    position: fixed !important
}

.logo {
    font-size: 30px;
    color: #fff;
    margin-top: -15px;
}

.yello {
    color: black;
    background-color: rgb(230, 143, 13);
    border-radius: 5px;
}

div.nevber {
    border-bottom: 15px solid black;
    border-left: 23px solid rgb(230, 143, 13);
    border-right: 23px solid rgb(230, 143, 13);
    position: relative;
}

.nevber ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.nevber ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;

}

.nevber ul li a:hover {
    color: black;
    background-color: rgb(230, 143, 13);
    border-radius: 3px;
}

.nevber ul li::after {
    content: '';
    height: 3px;
    width: 0px;
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: rgb(230, 143, 13);
    transition: 0.5s;
}

.nevber ul li:hover::after {
    width: 100%;
}

.form {
    border-radius: 5px;
    margin-top: -22%;
    padding: 45px;

}

.forms {
    text-align: center;
    border-left: rgb(230, 143, 13)5PX solid;
    border-right: rgb(230, 143, 13)5PX solid;
    box-shadow: rgba(107, 106, 106, 0.444) 2px 5px 10px 5px;
    height: 366px;
    width: 64%;
    margin: 5%;
}


input {
    box-shadow: #000 2px 3px 10px;
    border: none;
}

.btnform {
    border: none;
    font-size: 25px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: rgba(230, 225, 225, 0.333) 1px 2px 2px 1px;
    color: #000;
    background-color: rgb(230, 143, 13);
}

.btnform:active {
    background-color: rgba(230, 143, 13, 0.711);
    color: #fff;
    font-size: 25px;
    box-shadow: none;
}